* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #122315;
}
img {
  width: 98.9vw;
  position: relative;
}

.box {
  background-color: #f3ede4;
  position: absolute;
  border-radius: 1rem;
  font-family: "clash display";
  font-size: 1.5rem;
  box-shadow: -0.5rem 0.5rem #044728;
  padding: 0.75rem 1rem ;
  top: 0;
}

#b1 {
  top: 96.85vh;
  left: 24.31vw;
}
#b2 {
  top: 82.60vh;
  left: 43.06vw;
}
#b3 {
  top: 68.52vh;
  left: 24.31vw;
}
#b4 {
  top: 53.42vh;
  left: 52.08vw;
}
#b5 {
  top: 36.78vh;
  left: 46.53vw;
}
#b6 {
  top: 26.22vh;
  left: 14.58vw;
}
#b7 {
  top: 13.61vh;
  left: 46.53vw;
}

@media (max-width:768px) {
  .box {
    font-size: 0.5rem;
    box-shadow: -0.25rem 0.25rem #044728;
    padding: 0.25rem 0.5rem ;
  }
}

