* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b7d0e1;
}

.union {
  position: absolute;
  left: 80vw;
  top: 8vh;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  transform: scale(0.9);
  margin-top: -2rem;
}

.register-text {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 4rem;
  color: #14496b;
}

.register-form {
  padding: 2rem 1.5rem;
  background: #f5c013;
  border: 4px solid #562200;
  box-shadow: 8px 8px 0px #004130;
  border-radius: 24px;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 2rem;
  padding: 0 1.25rem;
  background: #a1d99e;
  border: 2px solid #000000;
  border-bottom: 0;
  border-radius: 8px 8px 0px 0px;
  font-family: "Clash Display", sans-serif;
  font-size: 1.25rem;
}

input {
  width: 100%;
  height: 3.5rem;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 0px 8px 8px 8px;
  width: 36vw;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Clash Display", sans-serif;
  font-weight: normal;
  padding-left: 0.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5rem;
  height: 3rem;
  background: #ed402d;
  border: 2px solid #000000;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
  font-family: "Clash Display", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: white;
  margin: 0.5rem 11rem 0 11rem;
}

@media only screen and (max-width: 768px) {
  .union {
    z-index: -10;
    left: 35vw;
    top: -3vh;
    display: none;
  }

  .register-container {
    margin: 1rem 0;
    transform: scale(1);
  }

  .register-text {
    font-size: 3rem;
  }

  .register-form {
    height: auto;
    width: 90%;
    padding: 2rem 1rem;
  }

  input {
    width: 100%;
    font-size: 1rem;
    height: 2.5rem;
    margin-bottom: 1rem;
  }

  button {
    width: 50%;
    margin: 0.5rem auto;
  }
}
